.home {
    display: flex;
}

.home_desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    font-size: 28px;
    align-items: center;
}

.img_home {
    max-width: 100%;
    border-radius: 12px;
    margin: 12px;
    padding: 8px;
}

.titulo {
    text-align: center;
    font-size: 72px;
}