.header{
    background-color: #0f172a;
    width: 100%;
}
.navUl{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0%;
}
.navegador a{
    text-decoration: none;
    padding: 5px;
    color: white;
}
.registro a{
    text-decoration: none;
    padding: 5px;
    color: white;
}
