.header {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid black;
}

.navUl {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0%;
}

.navegador a {
    text-decoration: none;
    padding: 15px;
    color: black;
    letter-spacing: 0.0876rem;
    font-size: 12px;
}

.registro a {
    text-decoration: none;
    padding: 15px;
    color: black;
    letter-spacing: 0.0876rem;
    font-size: 12px;
}