.formulario {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px #ccc;
  background-color: rgba(131, 204, 136, 0.67);
  color: white;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-name:focus,
.form-surname:focus,
.form-edad:focus,
.form-email:focus,
.form_password:focus {
  border-color: #007bff;
  /* Cambiar el color del borde al enfocar */
  box-shadow: 0 0 5px #007bff;
  /* Agregar una sombra al enfocar */
}