.login {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid black;
}