.admin_panel {
    display: flex;
    align-items: center;
}

.imgPerfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.createProd {
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
    background-color: rgba(131, 204, 136, 0.67);
    color: white;
}